.user-container{
    width: 100vw;
}
.user-wrapper{
    width: -webkit-fill-available;
    display: flex;
}
.user-inner-wrapper h1{
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
   
span{
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    background: linear-gradient(to right, #2D4DE1, 
                    #FF1313); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.user-header{
    display: flex;
    gap: 7px;
}
.user-header-wrapper p{
    color: #000000;
    width: 500px;
    text-align: center;
    font-weight: 22px;
}
.user-inner-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63vw;
    padding: 12px;
}
.left-inner-wrapper{
    padding: 50px;
    padding-bottom: 0;
}
.bottom-chatbot{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.bottom-right-rightChatbot {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    border-radius: 22px;
    border: 2px solid #ACACAC;
    background-color: #fff;
    justify-content: space-between;
    margin: 1rem 1rem;
}
  .bottom-right-rightChatbot input{
    font-size: 18px;
    font-family: Poppins, sans-serif;
    color: #5b4d4d;
    flex-grow: 1;
    flex-basis: auto;
    border: none;
    align-items: center;
}
.bottom-chat {
    display: flex;
    gap: 5px;
    width: -webkit-fill-available;
    padding-right: 10px;
}
.bottom-chat img{
    padding-right: 20px;
}
.bottom-chat input:focus-visible{
    outline: none;
}
.top-middle-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.user-header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.option{
    border: 1px solid #DADADA;
    display: flex;
    gap: 30px;
    padding: 12px;
    border-radius: 22px;
    /* background-image: linear-gradient(to bottom right, #445df3bd, #dfd7ffc2); */
    
}
.option p{
    width: 295px;
    color: black;
}
.left-middle-wrapper{
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    height: 100%;
}

.top-middle-option{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-middle-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.services-section{
    width: 100%;
}
.services-header h2{
    color: #111725;
}
.green{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #6271CD;
}
.grey{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #c5c2c2;
}
.services-left {
    gap: 10px;
    display: flex;
    align-items: center;
}
.services-header{
    display: flex;   
    border: 1px solid #DEE3FF;
    padding: 10px 30px;
    width: max-content; 
    gap: 75px;
    border-radius: 12px; 
    margin-bottom: 30px;
}
.request-list{
    /* background-color: #DEE3FF; */
    /* height: 130px;
    width: 250px; */
    border-radius: 0 0 7px 7px;
}
.total-request-header{
    background-image: linear-gradient(to bottom right, #445df3bd, #dfd7ffc2);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 15px;
    width: 180px;
    height: 290px;
    border-radius: 7px;
    box-shadow: 0 8px 8px rgb(0 6 255 / 10%);
}
.request-list h1{
    padding: 0;
}
.matrix-wrapper{
    padding: 10px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    border: 1px solid #DEE3FF;
    flex-direction: column;
}
.total-request-header2{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.total-request-wrapper{
    background-image: linear-gradient(to bottom right, #445df3bd, #dfd7ffc2);
    border-radius: 7px;
    box-shadow: 0 8px 8px rgb(0 6 255 / 10%);
    padding: 15px;
    height: 95px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 125px;
}
.matrix-wrapper h4{
    text-align: center;
}
.matrix-inner{
    display: flex;
    gap: 20px;
}
.total-request-header3 {
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.allerts-number{
    display: flex;
    border-radius: 120px;
    width: 180px;
    height: 181px;
    background-image: linear-gradient(to bottom right,  #0244ff, #f0feff);
    align-items: center;
    justify-content: center;
}
.allerts-number h1{
    font-size: 70px;
    line-height: 76px;
}
.circular-meter h3{
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.circular-meters{
    margin-bottom: 50px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-around;
}
.user-dashboard{
    margin-bottom: 50px;
    width: 100%;
}
.user-dashboard-wrapper{
    display: flex;
    overflow-x: auto;
    width: 63vw;
    gap: 30px;
    flex-direction: row;
}
::-webkit-scrollbar {
    display: none;
}
.user-traces-wrapper{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.total-request-header4{
    background-image: linear-gradient(to bottom right, #445df3bd, #dfd7ffc2);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 15px;
    border-radius: 7px;
    height: 95px;
    box-shadow: 0 8px 8px rgb(0 6 255 / 10%);
    justify-content: center;
    width: -webkit-fill-available;
}
.matrix-wrapper-outside{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.matrix-wrapper1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.total-request-wrapper1 {
    background-image: linear-gradient(to bottom right,#445df3bd, #dfd7ffc2);
    border-radius: 7px;
    box-shadow: 0 8px 8px rgb(0 6 255 / 10%);
    padding: 15px;
    height: 120px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 125px;
}
.sla-wrapper{
    padding: 25px 50px;
    border-radius: 12px;
    /* box-shadow: 0 8px 8px rgb(0 6 255 / 10%); */
    border: 1px solid #DEE3FF;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.sla{
    display: flex;
    border-radius: 120px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.sla-wrapper h3{
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.inner-sla-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.top-sla{
    border: 1px solid #DEE3FF;
    border-radius: 7px;
    padding: 2px 5px;
}
.sla-matrix{
    margin-bottom: 50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
   
}
.color1{
    background-image: linear-gradient(to bottom right, #4a0fff, #ffeede);
}
.color2{
    background-image: linear-gradient(to bottom right, #ffd30f, #f9ffde);
}
.color3{
    background-image: linear-gradient(to bottom right, #ef00ff, #f7b1a4);
}
.color4{
    background-image: linear-gradient(to bottom right, #00d0ff, #c1ed7d);
}
.color{
    background-image:linear-gradient(to bottom right,   #0244ff, #f0feff);
}
.chat-component{
    width: 100%;
    display: flex;
    gap: 10px; 
    justify-content: flex-end;
}
.response-component{
    width: -webkit-fill-available;
    display: flex;
    gap: 20px;
    align-items: center;
}
.chat-component p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}
.response-component p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
    color: #000000;
}
.chat-wrapper{
    width: -webkit-fill-available;
    overflow-y: auto;
    height: 57vh;
}
.chat-header img{
    width: 35px;
    height: 35px;
}
.chat-component1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}



.option{
    cursor: pointer;
}
.cross-option{
    display: flex;
    justify-content: flex-end;
}
.cross-option img{
    top: 102px;
    right: 20px;
    position: absolute;
    width: 43px;
    background-image: linear-gradient(to bottom right, #0244ff, #96f8ff);
    padding: 3px;
    border-radius: 14px;
    height: 43px;
}
/* .left-inner-wrapper{
    width: 64.5vw;
} */
.user-midle-wraper{
    display: flex;
    /* width: 68.2vw; */
}
.service-level{
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 15px;
    min-height: 238px;
    border-radius: 16px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 14%);
    height: max-content;
}
.service-level h3{
    color: #000000;
    padding-bottom: 5px;
}
.service-level-wrapper{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 30px;
}
.service-level p{
    color: #000000;

}
.speedometer{
    width: 200px;
    height: 147px;
}
.service-level-hader{
    display: flex;
    justify-content: space-between;
}
.more-details1 li{
    list-style-type: disc;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Arial';
    color: #414040;
    text-align: left;
  }

  li {
    list-style: none;
}
.service-level-header-wrapper{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

/* .service-level-header-wrapper {
    transition: transform 0.3s ease;
}

.service-level-header-wrapper.rotated {
    transform: rotate(180deg);
} */

.more-details1 {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
    padding-left: 30px;

}

.more-details1.show {
    max-height: 500px;
    opacity: 1;
    padding-left: 30px;
}

.service-level1{
    display: flex;
    padding: 35px;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    min-height: 238px;
    height: max-content;
    border-radius: 16px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 14%);
}
.service-level2{
    display: flex;
    padding: 35px;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    min-height: 238px;
    height: max-content;
    border-radius: 16px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 14%);
}
.service-level-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-level-header h3{
    padding: 0;
    color: #000000;
}

.zoom-on-hover {
    transition: transform 0.2s;
  }
  
.zoom-on-hover:hover {
    transform: scale(1.05);
  }
.user-header-wrapper1 p{
    color: grey;

}
.user-header-wrapper1{
    display: flex;
    flex-direction: column;
    align-items: center;
}